html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  width: 100%;
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
  font-family:
}
