html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.58;
  color: #222;
}

h1 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

main h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #8f2440;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
}

nav li {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
}

nav a {
  font-weight: bold;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

header ol {
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  font-size: .95rem;
  font-style: italic;
  text-align: center;
}

.intro {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #222;
}

p {
  font-size: 1.125rem;
  color: #222;
}

.beta {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
  font-size: 1.5rem;
  font-style: italic;
}

blockquote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  font-weight: normal;
  text-decoration: none;
}

cite {
  font-size: .8rem;
  font-style: italic;
}

dl {
  font-size: .8em;
}

dt {
  font-weight: bold;
}

dd > data {
  font-weight: normal;
}

dt > data {
  font-weight: normal;
}

data {
  font-family: "PT Serif", serif;
}

ul li {
  font-size: .8em;
  list-style-type: circle;
}

main ol li {
  font-size: .8em;
  list-style-type: lower-greek;
}

nav, h1, h2, dd {
  font-family: "PT Sans", sans-serif;
  font-weight: bolder;
}

footer {
  font-size: .8rem;
}
